<html>
    <head>
       <title> Play The Lottery! {{ title }}</title>
    </head>
    <body style="background-color:rgb(196, 255, 228);">
       <h1> Play The Lottery! {{ title }}</h1>

{% block body_content %}
    <form action='' method='POST'>

    <p>
        {{ form.hidden_tag() }}
        {{ form.lottery_numbers.label }} {{ form.lottery_numbers }} <br>
        <br>
        <br>
        {{ form.lottery_alphabets.label }} {{ form.lottery_alphabets }} <br>
        <br>
        {{ form.submit }}
    </p>
    </form>
    </body>
</html>

{% endblock body_content %}