<html>
    <head>
       <title> Play and Win 5 million! {{ title }}</title>
    </head>
    <body style="background-color:rgb(28, 41, 223);">
       <h1> Play and Win 5 million! {{ title }}</h1>

{% block body_content %}
    <form action='' method='POST'>

    <p>
        {{ form.hidden_tag() }}
        {{ form.lottery_numbers.label }} {{ form.lottery_numbers }} <br>
        <br>
        <br>
        {{ form.lottery_alphabets.label }} {{ form.lottery_alphabets }} <br>
        <br>
        {{ form.submit }}
    </p>
    </form>
    </body>
</html>

{% endblock body_content %}